<!-- <div class = "bg-white">

  <div class = "slideLeft">
    <div class="row">
        <%= image_tag("avion-plan-biplan.jpg", class: "img-responsive center-block") %>
    </div>
  </div>

</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class = "bg-black">
        <video autoplay="autoplay" muted="muted" width="100%" preload="auto" loop>
          <source src="http://mazwai.com/system/posts/videos/000/000/121/original/jedd-goble--big_shorts_pro_velocity.mp4?1412888128#t=0,9.6" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
