

<div class="container padded">
  <div>
    <h3> <li><%= link_to "Revenir à mes annonces", profile_planes_path, class: "btn btn-link" %></li></li></h3>
  </div>
  <%= render 'plane_profile', plane: @plane %>
</div>