
<h1>Bonjour!</h1>

<p>
  Bienvenue sur Planebnb !
  Nous attendons vos réservations et vos annonces.
</p>
<p>Notre plateforme web a été réalisée à titre d'exercice lors du programme Fullstack Le Wagon (www.lewagon.org) !</p>
<p>Le site est pour l'instant au stade de développmenent. Les avions enregistrés sont virtuels uniquement, et ne peuvent être réservés.</p>
<p>Si notre projet vous a plu, vous pouvez nous contacter sur contact.planebnb@gmail.com </p>
<p>
  À bientôt
</p>
<p>
  L'équipe de Planebnb
</p>