.search {
  z-index: 1000;
  opacity: 0.5;
  border-radius: 10px;
  margin-top: -480px;
  font-size: 20px;
  color: white;
}

.search:hover {
  opacity: 0.9;
  color: white;
}

.height-none {
  height: 0;
}


#wrapper {
  position: relative;
  height: 100%;
  min-height: 760px;
}

body {
  height: 100%;
}