<div class="footer">
  <div class="text-center">
    <h1>
      Planebnb
    </h1>
    <ul class="list-inline list-unstyled">
      <li><i class="fa fa-facebook"></i> </li>
      <li><i class="fa fa-twitter"></i> </li>
      <li><i class="fa fa-instagram"></i> </li>
    </ul>
  </div>
</div>