.footer {
  background-color: #293540;
  z-index: 1;
  color: white;
  bottom: 0;
  left: 0;
  width:100%;
  height: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-width {
  width: 100%;
}
