<div class="container padded">
  <%= render 'user_booking', bookings: @bookings %>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {
      $("[name='status-checkbox']").bootstrapSwitch();
      $.fn.bootstrapSwitch.defaults.onColor = 'success';
      $.fn.bootstrapSwitch.defaults.state = 'false';
    })
    $.fn.bootstrapSwitch.defaults.size = 'large';
    $.fn.bootstrapSwitch.defaults.labelText = 'Changer';
    $.fn.bootstrapSwitch.defaults.onText = 'Acceptée';
    $.fn.bootstrapSwitch.defaults.offText = 'Refusée';
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    $.fn.bootstrapSwitch.defaults.offColor = 'danger';
  </script>
<% end %>
