<div class="container padded">
  <%= render 'user_booking', bookings: @bookings %>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {
      $("[name='status-checkbox']").bootstrapSwitch();
    })
  </script>
<% end %>
